<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head') %>
</head>
<body>
  <%- include('../../layout/header') %>
    <section class="section">
      <form action='/searches' method='post'>
        <label for="searchQuery">Search by Title or Author</label>
        <input type="text" name='searchQuery' placeholder="Enter Title or Author">
        <label for="radio1" >Title
        <input type="radio" name="search" value="title" required> </label>
        <label for="radio2">Author
        <input type="radio" name="search" value="author" required> </label>
        <button type="submit">Submit</button>
      </form>
    </section>
    <%- include('../../layout/footer') %>
</body>
</html>