<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>
<body>
    <%- include('../../layout/header') %>
    <ul>
        <% bookList.forEach(book => { %>
            <li>
                <%- include('../books/detail', {book : book}) %>
              <form action="/book/<%book.isbn %>">
                <input type="submit" value="View Details" />
              </form>
            </li>
        <% }); %>
    </ul>
    <%- include('../../layout/footer') %>
</body>
</html>