<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <a href="/">Home</a>
    <main>
    <p><%= error %></p>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>