<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Best Books</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="stylesheet" href="styles/modules.css">
</head>
<body>
    <main>
    <h1>Best Books!</h1>
    <section class="section">
      <form action='/searches' method='post'>
        <label for="searchQuery">Search by Title or Author</label>
        <input type="text" name='searchQuery' placeholder="Enter Title or Author">

        <label for="inlineRadio1" >Title
        <input type="radio" name="search" value="title" required> </label>
        <label for="inlineRadio2">Author
        <input type="radio" name="search" value="author" required> </label>
        <button type="submit">Submit</button>
      </form>
    </section>
    </main>
</body>
</html>