@media (min-width: 320px) and (max-width: 836px){
ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 auto 15px;
    flex-wrap: wrap; 
    padding: 30px;
    width: 80%;
    background-color: #F1E4E2;
    box-shadow: 5px 5px 5px 5px #7777;
}
h1{
    text-decoration: none;
    font-size: 25px;
    color: #B4A09B;
    background-color: #CFD0D1;
    border: 1px solid #BF8B85;
    padding:20px;
    font-family: 'Red Rose', cursive;
    text-align: center;
    animation: gradient 15s ease infinite;
}
h2{
    font-size: 100%;
    width: 90%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    justify-content: center;
    padding: 20px;
}
h3{
    font-size: 100%;
    width: 90%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px; 
}
img{
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 30px;
}
p{
    font-size: 75%;
    font-weight: bold;
    text-align: center;
    width: 97%;
    margin-top: 20px;
}

.section {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: rgba(234, 205, 194, 0.2);
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.section label {
    display: block;
    /* margin-bottom: 8px; */
}

.section input[type="text"],
.section input[type="radio"] {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    /* width: 100%; */
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

#save input[type="text"]{
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 90%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

.section input[type="radio"]{
    display: inline-block;
}

.section button, li button {
    position: relative;
    display: block;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #B75D69;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #B75D69;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

}
@media (min-width: 2024px){
    section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 auto;
        flex-wrap: wrap; 
        padding: 30px;
        width: 80%;
        background-color: #F1E4E2;
        box-shadow: 5px 5px 5px 5px #7777;
    }
    h1{
        font-size: 100%;
        color: #B4A09B;
        background-color: #CFD0D1;
        border: 1px solid #BF8B85;
        padding:20px;
        font-family: 'Red Rose', cursive;
        text-align: center;
        animation: gradient 15s ease infinite;
    }
    h2{
        font-size: 100%;
        width: 250px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        font-weight: bold;
        justify-content: center;
        padding: 20px;
    }
    h3{
        font-size: 100%;
        width: 250px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px; 
    }
    img{
        width: 250px;
        height: 340px;
        text-align: center;
        padding: 30px;
    }
    p{
        font-size: 75%;
        font-weight: bold;
        text-align: center;
        width: 350px;
        margin-top: 20px;
    }
    
    .section {
        max-width: 500px;
        padding: 10px 20px;
        background: #f4f7f8;
        margin: 10px auto;
        padding: 20px;
        background: rgba(234, 205, 194, 0.2);
        border-radius: 8px;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    
    .section label {
        display: block;
        /* margin-bottom: 8px; */
    }
    
    .section input[type="text"],
    .section input[type="radio"] {
        font-family: Georgia, "Times New Roman", Times, serif;
        background: rgba(255, 255, 255, .1);
        border: none;
        border-radius: 4px;
        font-size: 15px;
        margin: 0;
        outline: 0;
        padding: 10px;
        /* width: 100%; */
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #e8eeef;
        color: #8a97a0;
        -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
        margin-bottom: 30px;
    }
    
    .section input[type="radio"]{
        display: inline-block;
    }
    
    .section button {
        position: relative;
        display: block;
        padding: 19px 39px 18px 39px;
        color: #FFF;
        margin: 0 auto;
        background: #B75D69;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        width: 100%;
        border: 1px solid #B75D69;
        border-width: 1px 1px 3px;
        margin-bottom: 10px;
    }
}